:host {
    display: block;
    width: 60%;
    margin: 50px;
}
.container {
    border: 2px solid rgba(221, 104, 94, 1);
    background-color: rgba(221, 104, 94, 0.3);
    border-radius: 20px;
    padding: 20px;
    color: rgba(221, 104, 94, 1);
}
.title {
    font-weight: 900;
}
.message {
    font-weight: 300;
}
